Body{
	background-color:#E6E6FA;
	font-family:Arial;
}
#header {
background-image:url(images/шапка.jpg);
width:60%;
margin-left:22%;
height:250px;
border: 2px solid #000;
font-family:Verdana, Geneva, sans-serif;
}
#sidebar{
margin:auto;
font-family:Cuprum,Arial,Helvetical,sans-serif;
width:55%;
}
.dws-menu *{
margin:0;
padding:0;
}
.dws-menu ul,
.dws-menu ol{
	list-style:none;
}
.dws-menu>ul{
	display:flex;
	justify-content:center;
	position:absolute;
}
.dws-menu>ul li a{
	display:block;
	background:#F5FFFA;
	padding:20px 30px 15px 40px;
	font-size:16px;
	color:#000000;
	text-decoration:none;
	text-transform:uppercase;
	transition:all 0.4s ease;
}
.dws-menu ul li ul{
	display:absolute;
	bottom:20% 40;
}
.dws-menu>ul li{
	position:relative;
	border:0.5px solid #000000;
}
.dws-menu>ul li>a i.fa{
	position:absolute;
	top:15px;
	left:12px;
	font-size:20px;

}
.dws-menu>ul li:first-child{
	border-left:2px solid #FDF5E6;
}
.dws-menu>ul li:last-child{
border-right:3px solid #FDF5E6;
}
.dws-menu li a:hover{
background:#800000;
color:#DEB887;
box-shadow:1px 	5px 10px -5px black;
transition:all 0.5s ease;
}

/*Sub menu*/
.dws-menu li ul{
	position:absolute;
	min-width:150px;
	display:none;
}
.dws-menu li>ul li{
	border:2px solid #c7c8ca;
}
.dws-menu li>ul li a{
	padding:10px;
	text-transform:none;

}
.dws-menu li:hover>ul{
	display:block;
}
h1{
	background-color:#800000;
	color:#FFFFE0;
	margin:15px;
}

#Content {
margin-left:230px;
margin-top:200px;	
border-radius:20px;
width:1100px;
height:1200px;
}
.block{
    border:2px solid #000000;
	border-radius:10px;
	margin: 20px 22px 10px 3px;
	margin-left:40px;
	float:left;
	height:150px;
	width:24%;
	background:#FFDEAD;
	transition: .7s ease;

}
a{
	color:#000000;
	size:14px;
	text-decoration:none;
}
a:hover{
 background-color:#BC8F8F;
 border:2px solid #A52A2A;
 border-radius:10px;
}
.block:hover{
	transform:scale(1.8);
}
    
.butt {
 border: 2px solid #218294;
 font-size: 15px;
 color:#000000;
 text-decoration: none;
 text-transform: uppercase;
 width: 250px;
 height: 80px;
 display: block;
 text-align: center;
 line-height: 60px;
 font-family: Arial, sans-serif;
 margin-top:30px;
 margin-left:5px;
}    

#Menu{
	border-radius:10px;
margin-top:90px;
float:left;
border-radius:0 0 10x 10px;
height:700px;
width:200px;
background-color:rgba(255, 235, 205, 0.7);
text-align:center;
box-shadow:0 -10px 0;
}


#footer {
background-image:url(images/footer.jpg);
width:100%;
margin-left:80px;
float:right;
height:250px;
border:2px solid #000000;
}
